
button {
	
	display: inline-block;
	margin: 10px auto;
}

input {
	display: inline-block;
	margin: 0 auto;
	width:25px;
	height:20px;
	text-align: center;
}

#gridContainer {
	margin: 0 auto;
	width: 780px;
	height: 780px;
	border: 5px solid black;
}


.wrap {

}

.pixel {
	float: inline-start;
	width: auto;
	height: auto;
	background-color: black;
}
