
button {
	display: block;
	margin: 10px auto;
}

#gridContainer {
	margin: 0 auto;
	width: 780px;
	height: 780px;
	border: 5px solid black;
}


.wrap {

}


.pixel {
	float: inline-start;
	width: 50px;
	height: 50px;
	background-color: black;
}
